#list-phones {

	margin: 40px;
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: auto;
	background-color: #2A2D34AA;
	border-radius: 5px;
	align-items: center;
	padding: 40px;
	
}

.phone-item {
	margin: 20px;
	display: flex;
	background-color: #2B2D42CC;
	width: 35vw;
	align-items: center;
	font-family: sans-serif;
	border-radius: 10px;
	color: white;
	border: 1px solid yellow

}

.phone-item img {
	width: 5vw;
	border-right: 1px solid #2B2D42;
	border-bottom: 1px solid #2B2D42;
	background-color: #2B2D42CC;
	border-radius: 10px 0px 0px 10px;
}

.desc {
	margin-left: 4%;
}

#list-p {
	display: none;
}

.ranking {
	color: salmon;
	font-family: sans-serif;
	font-size: 40px;
	margin-left: 200px;
	margin-right: 30px;
}
