#search {

	margin: 40px;
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 40vw;
	background-color: #2A2D34AA;
	border-radius: 5px;
	align-items: center;
	
}

#search>form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 40vw;

	font-family: sans-serif;
	font-size: 20px;
	color: yellow;
	border-radius: 25px;
	
	margin-top: 8%;
}

#search>form>div {
	display: flex;
	align-items: center;
	width: 15vw;
}

#search>form>input , #submit {
	border-color: white;
	border-radius: 25px;
	border-style: solid;
	text-align: center;
	height: 3%;
	width: 25%;
}

#submit {
	background: #2A2D34AA;
	margin-top: 20px;
	width: 15%;
	height: 5%;
	border: none;
	color: white;
}

#submit:hover {
	color: salmon;

	cursor: pointer;
}

.yellow {
	color: white;
	margin-right: 80px;
	width: 50px;

}



/*

tried to make a custom radio button style but it took too much time

.radio-btn {
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background-color: #2A2D34AA;
  	width: 15px;
  	height: 15px;
  	border: 1px solid yellow;
  	border-radius: 100%;
}

.radio-btn:hover {
	background-color: #2A2D34FF;
	border: 1px solid #2A2D34;
}

.radio-btn:checked::after {
	content: '*';
	color: yellow;
	position: absolute;
  	display: block;
}
*/