#search {

	margin: 40px;
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 40vw;
	background-color: rgba(255,255,255,0.8);
	border-top: 1px solid salmon;
	border-bottom: 1px solid salmon;
	align-items: center;
	
}

#search>form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 40vw;
	background: white;
	font-family: monospace;
	font-size: 20px;
	color: salmon;
}

#search>form>input {
	border-color: salmon;
	border-radius: 25px;
	border-style: solid;
	text-align: center;
	height: 3%;
	width: 15%
}