.p-info {
	display: none;
	background-color: #2B2D42CC;
}

.phone-view {

	margin: 40px;
	display: flex;
	width: 95vw;
	height: auto;
	background-color: #2A2D34AA;
	border-radius: 5px;
	align-items: center;
	padding: 40px;


}

.phone-view img {
	width: 20vw;

}

.phone-view iframe {
	margin-left: 300px;
	border: none;
}

.phone-desc {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	color: yellow;
}

.phone-desc span{
	margin: 0;
}

.phone-desc h3 {
	color: salmon;
	border-
}

.phone-desc p {
	color: white;
}

