.p-info {
	display: none;
}

.phone-view {

	margin: 40px;
	display: flex;
	width: 95vw;
	height: auto;
	background-color: #2A2D34AA;
	border-radius: 5px;
	align-items: center;
	padding: 40px;

}

.phone-desc {
	display: flex;
	flex-direction: column;
}